html,
body,
* {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}

.btn {
  color: greenyellow;
}

.cartTitle {
  width: 45%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 5px;
  border: 1px solid blue;
  transition: 0.6s ease;
  color: greenyellow;
  font-size: 100px;
}

.contain {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 5px;
  border: 2px solid blue;
  transition: 0.6s ease;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 5px;
  transition: 0.6s ease;
}

.categories {
  color: white;
  font-size: 100px;
  display: flex inline;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 25px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #ff4654;
}

.marketplace {
  font-size: 3rem;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.bundle {
  box-shadow: 5px 5px 10px gray, -5px -5px 10px lightgray;
  color: blue;
  height: 50vh;
  width: 22%;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 10px;
  border: 10px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.6s ease;
}

.bundle img {
  max-width: 80%;
  max-height: 80%;
}

.skin {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.price {
  color: white;
  text-align: center;
}
.skin1 {
  border-color: antiquewhite;
  color: color-mix(in srgb, gold 25%, white 75%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin2 {
  border-color: greenyellow;
  color: purple;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin3 {
  border-color: rgb(132, 11, 11);
  color: orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin4 {
  border-color: blueviolet;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin5 {
  border-color: rgb(241, 154, 168);
  color: rgb(167, 15, 167);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin6 {
  border-color: rgb(177, 243, 255);
  color: rgb(46, 122, 237);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin7 {
  border-color: rgb(202, 123, 165);
  color: palevioletred;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin8 {
  border-color: rgb(50, 12, 86);
  color: blueviolet;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin9 {
  border-color: rgb(6, 129, 129);
  color: teal;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin10 {
  border-color: gold;
  color: green;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin11 {
  border-color: rgb(94, 0, 0);
  color: red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skin12 {
  border-color: bisque;
  color: rgb(209, 209, 108);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px;) {
  .marketplace {
    flex-direction: column;
    background-color: green;
  }
  .bundle {
    width: 100%;
  }
}
.bundle:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.7s ease;
  box-shadow: ;
}
