html,
body,
* {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}
.title {
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-weight: 2000;
  font-style: normal;
  color: #ff4654;
}
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%;
}

.marketplace {
  font-size: 30px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.bundle {
  width: 30%;
  padding: 25px;
  border-radius: 10px;
  border: 10px solid red;
}
.skin {
  width: 30%;
  color: blue;
}
.price {
  color: white;
}
.skin1 {
  border: 10px solid yellow;
}
.skin2 {
  border: 10px solid blue;
}
